body{
    font-family: "Arial", "Meiryo", sans-serif;
    text-align: center;
}
h1{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 2rem;
    letter-spacing: 1.2em;
    text-shadow: 1px 2px 1px greenyellow;
    border-bottom: solid 3px rgb(115, 115, 114);

}
html{
    font-size: 20px;
}
.pink {
    color: rgb(225, 192, 203);
}
.skyblue{
    color: skyblue;
}
#parent > p {
    font-weight: bold;
}